#cover {
  animation: pulse 12s infinite;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  color: white;
}

@keyframes pulse {
  0% {
    background-color: #010118;
  }
  50% {
    background-color: #000000;
  }
  100% {
    background-color: #010118;
  }
}

#image {
  height: 10%;
  width: 10%;
}

#container {
  font-family: philosopher, sans-serif;
  color: white;
  text-align: center;
  margin-top: 10%;
}

h1 {
  font-size: 300%;
}

p {
  font-size: 125%;
}