#cover {
  animation: pulse 12s infinite;
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  color: white;
}

@keyframes pulse {
  0% {
    background-color: #010118;
  }
  50% {
    background-color: #000000;
  }
  100% {
    background-color: #010118;
  }
}

#image {
  height: 10%;
  width: 10%;
}

#container {
  font-family: philosopher, sans-serif;
  color: white;
  text-align: center;
  margin-top: 10%;
}

#userInput {
  font-size: 20px;
  border: none;
  border-radius: 5px;
  text-align: left;
  width: 30%;
  padding-left: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.7%;
  margin-right: 1%;
}

#search {
  font-size: 18px;
  margin-top: 0%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
} 

h1 {
  font-size: 300%;
}

.modal-dialog {
  overflow-y: initial;
  width: 70%;
  z-index: -3;
  color: black;
  font-family: 'Mate', cursive;
  
}
.modal-body {
  height: 700px;
  overflow-y: auto;
  
  }

#login h3 {
  font-size: 30px;
}
#showAccount {
  font-size: 24px;
}
#showAccount h4 {
  font-size: 26px;
}

.modal-backdrop {
  z-index: -2;
}